body{
    /*background-color: rgb(194, 191, 191);*/
    background-image: linear-gradient(to right top, #051937, #003455, #00526f, #007086, #239099) !important;
}

.nul {
    width: 100%;
    margin-top: 0px;
    height: 30px;
    background-color: whitesmoke;
}
/*This code is for the header*/
.header{
    height: 50px;
    margin-bottom: 20px;
}

/*This code is for the top bar*/
.navbar{
    /*background-color: rgb(47, 112, 112);*/
    font-size: calibri;
    padding-right: 15px;
    padding-left: 25px;
    position: fixed;
    width: 100%;
    border-bottom: 5px solid green;
    border-top: 3px solid orange;
    margin-left: 0px;
    height: 90px;
    align-items: center;
    background: #003455;
    /*background:(145deg, #556d70, #475c5f);*/
    box-shadow:  0px 0px 8px #1b1e1f,
                 -5px -5px 6px #272b2c;
}

/*This code is for a div which is inside the top bar*/
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.logoContainer{
    display: flex;
    align-items: center;
}
.companyName{
    font-size: 20px;
    font-weight: 600;
}

.companyName a {
    color: rgb(252, 133, 36);
    margin-bottom: -30px;
}
.logobox{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(252, 133, 36);
    margin-right: 10px;
}
ul{
    margin-right: -950px;
}
ul li {
    list-style: none;
    display: inline-block;
}

ul li a{
    color: whitesmoke;
    background-color: green;
    border: 1px solid green;
    box-shadow: inset 0px 0px 8px green;
    font-size: 20px;
    font-weight: bold;
    margin-right: 0px;
    align-content: right;
    cursor: pointer;
}

.nav-link-btn{
    background-color: #f3970c;
    margin-right: 50px;
    border-color: #f3970c;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px #f3970c,
                     -0px -1px 10px #f3970c;

}

.nav-link-btn a{
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
}